html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    scroll-behavior: smooth;
}

#map-canvas {
    height:100%
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.self-portrait{
    margin: 0 auto; /* Added */
    float: none; /* Added */
}

.navbar .navbar-collapse {
    text-align: center;
  }

.carousel-image{
    
    max-width: 624px;
    margin: 0 auto; /* Added */
    margin-left: auto;
    margin-right: auto; 
}

.carousel-item {

    float: none;
  }

.nav-item:hover{
    color:white !important;
    background-color: black;
}

.nav-link:hover{
    color:white !important;
    background-color: #212529;
}


hr {
    width: 100%;
  }

.dropdown-menu{
    z-index:10;
    position: absolute;
}

.dropdown-item{
    z-index:10;
    position: relative;
}

.dropdown.show{
    z-index:10;
    position: absolute;
}

#sidenav{
    z-index: -1;
}

.nav-link-2 {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .nav-link-2 {
      transition: none;
    }
  }
  .nav-link-2:hover, .nav-link-2:focus {
    color: #0a58ca;
  }
  .nav-link-2.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
  }

  .nav-link-2:hover{
    color:white !important;
    background-color: #212529;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  column-gap: 0px;
  row-gap: 0px;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 3em);
  grid-template-columns: repeat(var(--grid-cols), 3em);
  justify-content: center;
  margin-top: 12rem;
  margin-bottom: 12rem;
  padding-bottom: 3.5rem;
}

.grid-item {
  border: 1px solid #ddd;
}



grid-item-starting-point:hover{
  background-color: crimson;
}

.visualizer-menu{
  background-color: #6c757d;
  height: 5rem;
  position: fixed;
  margin-top: 3.5rem;
  
}

.visualizer-menu-item{
  float:left;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  color: aliceblue;
  
}