html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    scroll-behavior: smooth;
}

#map-canvas {
    height:100%
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.self-portrait{
    margin: 0 auto; /* Added */
    float: none; /* Added */
}

.navbar .navbar-collapse {
    text-align: center;
    z-index: 1000;
  }

.carousel-image{
    
    max-width: 624px;
    margin: 0 auto; /* Added */
    margin-left: auto;
    margin-right: auto; 
}

.carousel-item {

    float: none;
  }

.nav-item:hover{
    color:white !important;
    background-color: black;
}

.nav-link:hover{
    color:white !important;
    background-color: #212529;
}


hr {
    width: 100%;
  }

.dropdown-menu{
    z-index:10;
    position: absolute;
}

.dropdown-item{
    z-index:10;
    position: relative;
}

.dropdown.show{
    z-index:10;
    position: absolute;
}

#sidenav{
    z-index: -1;
}

.nav-link-2 {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .nav-link-2 {
      transition: none;
    }
  }
  .nav-link-2:hover, .nav-link-2:focus {
    color: #0a58ca;
  }
  .nav-link-2.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
  }

  .nav-link-2:hover{
    color:white !important;
    background-color: #212529;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  column-gap: 0px;
  row-gap: 0px;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 3em);
  grid-template-columns: repeat(var(--grid-cols), 3em);
  margin-top: 13rem;
  margin-bottom: 12rem;
  margin-left: 3.5rem;
  padding-bottom: 3.5rem;
  position: relative;
  z-index: 9;
}

/* .starting-point{
  height: 20px;
  width: 20px;
  border-radius: 50%;
} */

.ending-point{
  border-radius: 50%;
}

.grid-item {
  border: 1px solid #ddd;
}

grid-item-starting-point:hover{
  background-color: crimson;
}

.visualizer-menu{
  background-color: #6c757d;
  display: block;
  position: fixed;
  margin-top: 3.5rem;
  z-index: 10;
  
}

.visualizer-menu-item{
  float:left;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  color: aliceblue;
  
}

#calculate-path{
  margin: 10px;
  height: 50%;
}

.grid-item-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* */
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.grid-item-shortest-path {
  animation-name: shortestPathAnimation;
  animation-duration: 1.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* */
@keyframes shortestPathAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(250, 145, 8, 0.75);
  }
}